.article {
  width: 100%;
  height: 100%;
  background-color: $white;

  position: relative;

  &__image {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--bg1 {
      @include section-background($white, url(./../img/news1.jpg));
    }

    &--bg2 {
      @include section-background($white, url(./../img/news2.jpg));
    }

    &--bg3 {
      @include section-background($white, url(./../img/news3.jpg));
    }

    &-hover {
      display: none;
    }
  }

  &__texts {
    padding: 5%;
    height: 60%;
  }

  &__header {
    color: $grey;
    font-family: $regular;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    color: $lightGrey;
    font-family: $sans;
    font-size: 18px;
    font-weight: 400;
  }

  &__author {
    height: 20%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    bottom: 0;
  }

  &__photo {
    width: 60px;
    height: 60px;
    background-color: $blue;
    background-position: center;
    background-size: cover;

    &--photo1 {
      background-image: url(./../img/author1.jpg);
    }

    &--photo2 {
      background-image: url(./../img/author2.jpg);
    }

    &--photo3 {
      background-image: url(./../img/author3.jpg);
    }
  }

  &__author-details {
    padding-left: 5%;
  }

  &__author-name {
    color: $grey;
    font-family: $book;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__date {
    color: $blue;
    font-family: $book;
    font-size: 14px;
    font-weight: 400;
  }

  &:hover .article__image-hover {
    display: block;
  }
}
