.contact {
  @include section-background($white, url(./../img/contact_bg.jpg));

  height: 60vh;
  min-height: 400px;
  width: 100vw;

  position: relative;
}

@media only screen and (max-width: 767px) {
  .contact {
    min-height: 600px;
  }
}
