.gallery {
  height: 100vh;
  min-height: 500px;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 5%;

  &__photos {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
  }

  &__photos-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    width: calc(50% - 5px);
  }

  &__photo-big {
    width: calc(50% - 5px);
    height: 100%;
    @include section-background($blue, url(./../img/gallery1.jpg));
  }

  &__photo-small {
    width: calc(50% - 5px);
    height: calc(50% - 5px);

    &1 {
      @include section-background($blue, url(./../img/gallery2.jpg));
    }
    &2 {
      @include section-background($blue, url(./../img/gallery3.jpg));
    }
    &3 {
      @include section-background($blue, url(./../img/gallery4.jpg));
    }
    &4 {
      @include section-background($blue, url(./../img/gallery5.jpg));
    }
  }
}

@media only screen and (max-width: 767px) {
  .gallery {
    height: 50vh;
    min-height: 500px;

    &__photos-group {
      display: none;
    }

    &__photo-big {
      width: 100%;
    }
  }
}
