@mixin section-background($color, $url) {
  background-color: $color;
  background-image: $url;
  background-position: center;
  background-size: cover;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
