.news {
  @include section-background($blue, url(./../img/news_bg.jpg));

  height: 100vh;
  min-height: 750px;
  width: 100vw;

  @include flex-center();
  flex-direction: column;

  &__group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 95%;
  }

  .swiper {
    &-container {
      width: 85%;
      height: 90%;
    }

    &-wrapper {
      list-style: none;
      height: 100%;
      width: 300px;
    }

    &-slide {
      height: 90%;
    }

    &-button-next::after,
    &-button-prev::after {
      font-size: small;
      font-weight: bold;
      color: $white;
      border: 1px $white solid;
      border-radius: 50%;
      padding: 17px 20px;
    }

    &-pagination {
      bottom: 2%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
