.news {
  @include section-background($blue, url(./../img/news_bg.jpg));

  height: 100vh;
  min-height: 600px;
  width: 100vw;

  @include flex-center();
  flex-direction: column;

  &__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 80%;
    width: 100%;
  }

  &__slider-arrow {
    height: 80px;
    width: 80px;
  }

  &__articles {
    height: 60%;
    min-height: 550px;
    width: 80%;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .news {
    height: 90vh;

    &__item:nth-child(n + 2) {
      display: none;
    }

    &__item:nth-child(1) {
      width: 100%;
    }

    &__slider-arrow {
      display: none;
    }
  }
}
