.active {
  background-color: $white;
}

.blue {
  background-color: $blue;
}

.purple {
  background-color: $purple;
}

.nav__item-circle {
  height: 10px;
  width: 10px;
  border: 1px $white solid;
  border-radius: 50%;
}

.social {
  color: $white;
  font-size: 0.8rem;
}

.btn {
  cursor: pointer;

  color: $grey;
  font-family: $book;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $white;
  border: 1px solid $grey;
  padding: 10px 40px;

  &:focus {
    outline: none;
    color: $blue;
    font-weight: bold;
    border: 2px $blue solid;
    box-shadow: 3px 3px $blue;
  }

  &:hover {
    color: $purple;
    font-weight: bold;
    border: 1px $purple solid;
  }
}

.lnk {
  cursor: pointer;

  &:focus {
    outline: none;
    color: $blue;
    font-weight: bold;
    border: 2px $blue solid;
    box-shadow: 3px 3px $blue;
  }

  &:hover {
    color: $blue;
    font-weight: bold;
  }
}

.input {
  cursor: pointer;

  &:focus {
    outline: none;
    color: $blue;
    font-weight: bold;
    border: 2px $blue solid;
    box-shadow: 3px 3px $blue;

    &::placeholder {
      color: $blue;
      font-weight: bold;
    }
  }

  &:hover {
    color: $purple;
    font-weight: bold;

    &::placeholder {
      color: $purple;
      font-weight: bold;
    }
  }
}

.section {
  &__header {
    width: 100%;
    height: 20vh;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__divider {
    color: $grey;
    width: 100px;
    border: none;
    border-top: 1px $grey solid;
    margin-bottom: 30px;

    &--white {
      border-top: 1px $white solid;
    }
  }

  &__title {
    color: $grey;
    font-family: $regular;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &--white {
      color: $white;
    }
  }
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  border: 1px $white solid;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;

  &-active {
    background-color: $white;
  }
}
